@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto:wght@300&display=swap');

body{
    font-family: Josefin+Sans;
    font-weight:400;
    color: #3a3a3a;
} 

/* headings and logo */  

h1, h2 {
    font-family: Roboto;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #252525;
}

#logo {
    font-size: 250%;
    padding-top: 10px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    margin-right: 450px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* front image */

#hero-outer {
    height: 600px;
    width:100%;
    overflow: hidden;

    position: relative;
}


#front-image {
    height: 600px;
    width:100%;
    background: url('../images/front-image-m.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: front-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for front image */

@keyframes front-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.15);
    }
}

#cover-text {
    color: #0a0a0a;
    font-size: 100%;
    font-family: Josefin+Sans;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 900px;
    height: 100px;

    padding-left: 25px;

    background-color: rgba(255, 255, 255, 0.5);
   
    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* footer */

footer {
    height: 150px;
}

.social-network {
    text-align: center;
}

.social-network > li {
    display: inline;
}

.social-network i {
    font-size: 160%;
    margin:1%;
    padding: 5%;
    color: #3a3a3a;
}
