@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@700&family=Oswald:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

.basic {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: black;
    background-color: beige;
 }

/* headings and logo */  

h1 {
    font-family: "Tourney";
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #0a0a0a;
}

#logo {
    float: left;
    font-size: 200%;
    padding-top: 10px;
    text-align: center;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    margin-right: 360px;
    padding-bottom: 5px;
}

#menu, #logo{
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid #0a0a0a;
}

/* front image */

#front-image {
    height: 864px;
    width: 100%;
    background: url('../images/front-image-m.jpg') no-repeat center center;
    padding-left: 100px;
}
