@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat&family=Raleway&family=Source+Serif+4&family=Dancing+Script:wght@700&family=Tourney:wght@700&display=swap');

body {
    font-family: Josefin+Sans;
    font-weight:300;
    color: #0a0a0a;
    background-color: beige;
} 

.container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* headings and logo */  

h1 {
    font-family: Tourney;
    font-weight:700;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #0a0a0a;
}

h2 {
    font-family: Dancing+Script;
    font-weight:700;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #0a0a0a;
    display: inline;
}

#logo {
    font-size: 200%;
    padding-top: 10px;
}


/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    margin-right: 360px;
    padding-bottom: 5px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;    
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* front image */

#front-outer {
    height: 600px;
    width:100%;
    overflow: hidden;

    position: relative;
}

#front-image {
    height: 600px;
    width:100%;
    background: url('../images/front-image-m.jpg') no-repeat center center;

/* animates zoom effect on loading page */
    animation-name: front-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for front image */

@keyframes front-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    color: #0a0a0a;
    font-size: 100%;
    font-family: Josefin+Sans;
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 900px;
    height: 150px;

    padding-left: 25px;

    background-color: rgba(255, 255, 255, 0.5);
   
    bottom: 30px;
    right: 100px;

    position: absolute;
}

/* media queries */
/* for larger and medium screen size from 1200px and down */

@media screen and (max-width: 768px) {
    #front-image {
        width: 65%;
        height: auto;
        margin: 0 auto;
    }

    #cover-text {
        text-align: center;
        padding-right: 30px;
        width: 65%;
        height: auto;
        background-color: rgba(255, 255, 255, 0.5);
        left: 50px;
    }

    #menu {
        text-align: center;
        display: inline;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #drinks and food{
        text-align: center;
        clear: both;
        padding: 0;
        
    }

}

/* for medium screen sizes from 768 px and down */

@media screen and (max-width: 400px) {
    
    #front-image {
        width: 65%;
        height: auto;
        margin: 0 auto;
    }

    #cover-text {
        text-align: center;
        width: 65%;
        height: 400px;
        padding-left: 150px;
    }

    #menu {
        text-align: center;
        display: inline;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    #drinks and food {
        text-align: center;
        clear: both;
        padding: 0;
        
    }

}

/* footer */

footer {
    height: 100px;        
}

footer p {
    text-align: center;
    font-size: small;
}

.social-network {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.social-network > li {
    display: inline;
}

.social-network i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #0a0a0a;
}

/* contains of menu buttons */

.food {
    font-size: 150%;
    margin:5px;
    padding: 40px;
    right: 50px;
    color: #0a0a0a;
    position: absolute;
    text-align: center; 
}

.drinks {
    font-size: 150%;
    margin:5px;
    padding: 40px;
    left: 0;
    color: #0a0a0a;
    position: absolute;
    text-align: center; 
}

.hike {
    font-size: 150%;
    margin:5px;
    padding: 5px;
    color: #0a0a0a;
    text-align: center; 
}

.enjoy {
    font-size: 150%;
    margin:5px;
    padding: 5px;
    color: #0a0a0a;
    text-align: center;
}
